@using System.Diagnostics.Eventing.Reader
<h1>Home Page</h1>


@Html.ActionLink("Secret", "Secret","Home")
<br/>
@Html.ActionLink("Login", "Login","Home")
<br/>
@Html.ActionLink("Register", "Register","Home")
<br/>
@Html.ActionLink("Logout", "Logout","Home")
