<h1>Home Page</h1>

@Html.ActionLink("Secret", "Secret", "Home")
<br />
@Html.ActionLink("SecretPolicy", "SecretPolicy", "Home")
<br/>@Html.ActionLink("SecretRole", "SecretRole", "Home")
<br/>
@Html.ActionLink("Authenticate", "Authenticate", "Home")